<!--@{
    ViewData["Title"] = "Index";
}
<div class="text-center">
    <h1 class="display-4">Welcome To Demo</h1>
    <h1 class="display-4">Export Data In Differnt File Format</h1>
</div>
<div class="jumbotron">
    <div class="lead">
        <div class="table-responsive col-md-12" id="divajaxCall">
            @using (Html.BeginForm("ExporDataToFile", "ExportData", FormMethod.Post))
            {
            <div class="row">
                <div class="col-md-3">
                    <label>
                        <input checked="checked" id="ExportExcel" name="Export"
                               type="radio" value="Excel" />
                        <i class="far fa-file-excel">  Export To Excel</i>
                    </label>
                </div>
                <div class="col-md-3">
                    <label>
                        <input id="ExportCSV" name="Export" type="radio"
                               value="Csv" />
                        <i class="fas fa-file-csv">  Export To Csv</i>
                    </label>
                </div>
                <div class="col-md-3">
                    <label>
                        <input id="ExportPdf" name="Export" type="radio"
                               value="Pdf" />
                        <i class="far fa-file-pdf">  Export To Pdf</i>
                    </label>
                </div>
                <div class="col-md-3">
                    <label>
                        <input id="ExportToWord" name="Export" type="radio"
                               value="Word" />
                        <i class="far fa-file-word">  Export To Word</i>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label>
                        <input id="ExportToJson" name="Export" type="radio"
                               value="Json" />
                        <i class="fab fa-js-square">  Export To Json</i>
                    </label>
                </div>
                <div class="col-md-3">
                    <label>
                        <input id="ExportToXml" name="Export" type="radio"
                               value="Xml" />
                        <i class="far fa-file-code">  Export To XML</i>
                    </label>
                </div>
                <div class="col-md-3">
                    <label>
                        <input id="ExportToText" name="Export" type="radio"
                               value="Text" />
                        <i class="far fa-file-alt">  Export To Text</i>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="text-align:center; padding : 5px 5px 5px 5px">
                    <button id="btnExportData" type="submit" value="ExportData" name="action">
                        <i class="fas fa-file-download"> Export Data </i>
                    </button>
                </div>
            </div>
            <div class="row" style="text-align:center; padding : 5px 5px 5px 5px"></div>
            <div class="divfooter">
            </div>
            }
        </div>
    </div>
</div>

<script src="https://kit.fontawesome.com/00267cf40d.js" crossorigin="anonymous"></script>-->  