<div class="row" *ngIf="product">
    <div class="col-6">
        <img src="http://localhost:5187{{product.imagePath}}" alt="{{product.productName}}" class="w-100">
    </div>
    <div class="col-6 mt-5">
        <h2>{{product.productName}}</h2>
        <p style="font-size: 2em;">{{product.price+"đ"}}</p>
        <div class="d-flex justify-content-start align-items-center">
            <i class="fa fa-minus-circle text-warning me-2" style="cursor:pointer; font-size: 2em;"></i>
            <span class="font-weigh-bold" style="font-size: 1.5em;">2</span>
            <i class="fa fa-minus-circle text-warning me-2" style="cursor:pointer; font-size: 2em;"></i>
            <button class="btn btn-outline-secondary ms-4">Thêm vào giỏ hàng</button>
        </div>
        <div class="row mt-4">
            <h4>Màu: {{product.colorName}}</h4>
            <h4>Dung lượng: {{product.capacityName}}</h4>
            <h4>Description</h4>
            <p>{{product.description}}</p>
        </div>
    </div>
</div>

