<header
    class="d-flex flex-row align-items-center justify-content-between p-3 px-4 mb-3 bg-white border-bottom fixed-top shadow-sm">
    <img src="/assets/images/logo.png" alt="logo" class="logo" style="max-height: 70px;" routerLink="/">
    <nav class="my-2 text-uppercase fs-4">
        <a class="p-2 " routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Trang chủ</a>
        <a class="p-2 " routerLink="/Cửa Hàng" routerLinkActive="active">Cửa hàng</a>
        <a class="p-2 " routerLink="/Contact" routerLinkActive="active">Liên hệ</a>
    </nav>
    <div class="d-flex align-items-center">
        <a routerLink="/Giỏ Hàng" class="position-relative">
            <i class="fa fa-shopping-cart fa-2x me-5 text-drak"> </i>
            <div class="cart-no">5</div>
        </a>
        <a href="" class="btn btn-outline-secondary me-2">Đăng nhập</a>
        <a href="" class="btn btn-outline-secondary me-3">Đăng ký</a>
    </div>
</header>